@model IEnumerable<Movie_Store.Models.ViewModells.ReceiptVM>
<td>
        
    </td>

@{
    ViewData["Title"] = "PurchaseDone";
}



<h1>PurchaseDone</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>

@{

    double total = 0;
    foreach(var item in Model){
        total = total + item.Price;

    }
    <span>Total Price = @total </span>

}
