@model IEnumerable<Movie_Store.Models.ViewModells.ShoppingVM>
<br />


<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</head>

<style type="text/css">
    table > tbody > tr > td, table > tbody > tr > th,
    table > tfoot > tr > td, table > tfoot > tr > th {
        border: 0
    }
</style>

<h2>Shopping cart</h2>
<table class="table" border="0">
    <thead>
        <tr>
            <th id="1">Title/Quantity Price</th>
            <th id="2"></th>
            <th id="3">Add/Remove</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                int i = 0;
                int copies = 1;

                //List<string> shopList = new List<string>();

                //                    @foreach (var item in Model)
                //{
                //    shopList.Add(@item.Title);
                //}
                var shopList = Model.Select(m => m.Title).ToList();


                @for (int j = 0; j < shopList.Count; j++)
                {
                    if (j == 0)
                    {
                        if (shopList.Count > 1)
                        {
                            if (shopList[i] == shopList[i + 1])
                            {
                                copies++;
                            }
                            else
                            {
                                <tr>
                                    <td id="1">
                                        <span>@shopList[j], copies: @copies price: @(@Model.ElementAt(j).Price * @copies)</span>
                                    </td>
                                    <td></td>
                                    <td id="3">
                                        <a asp-action="AddCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Add movie to cart</a>|
                                        <a asp-action="RemoveCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Remove movie from cart</a>
                                    </td>
                                </tr>
                                copies = 1;
                            }
                        }
                        else
                        {
                            <tr>
                                <td id="1">
                                    <span>@shopList[j], copies: @copies price: @(@Model.ElementAt(j).Price * @copies)</span>
                                </td>
                                <td></td>
                                <td id="3">
                                    <a asp-action="AddCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Add movie to cart</a>|
                                    <a asp-action="RemoveCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Remove movie from cart</a>
                                </td>
                            </tr>
                            copies = 1;
                        }
                    }
                    else if (j < shopList.Count - 1)
                    {
                        if (shopList[j] == shopList[j + 1])
                        {
                            copies++;
                        }
                        else
                        {
                            <tr>
                                <td id="1">
                                    <span>@shopList[j], copies: @copies price: @(@Model.ElementAt(j).Price * @copies)</span>
                                </td>
                                <td></td>
                                <td id="3">
                                    <a asp-action="AddCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Add movie to cart</a>|
                                    <a asp-action="RemoveCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Remove movie from cart</a>
                                </td>
                            </tr>
                            copies = 1;
                        }
                    }
                    else if (j == shopList.Count - 1)
                    {
                        <tr>
                            <td id="1">
                                <span>@shopList[j], copies: @copies price: @(@Model.ElementAt(j).Price * @copies)</span>
                            </td>
                            <td></td>
                            <td id="2">
                                <a asp-action="AddCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Add movie to cart</a>|
                                <a asp-action="RemoveCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Remove movie from cart</a>
                            </td>
                        </tr>
                        copies = 1;
                    }
                    else
                    {
                        <tr>
                            <td id="1">
                                <span>@shopList[j], copies: @copies price: @(@Model.ElementAt(j).Price * @copies)</span>
                            </td>
                            <td></td>
                            <td id="3">
                                <a asp-action="AddCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Add movie to cart</a>|
                                <a asp-action="RemoveCopyFromCart" asp-route-Title="@Model.ElementAt(j).Title">Remove movie from cart</a>
                            </td>
                        </tr>
                        copies = 1;
                    }
                }

                double res = 0;
                @foreach (var item in Model)
                {
                    res = Math.Round((@item.Price + res), 2);
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td>_______________________</td>
                </tr>


                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <span><b>Total sum for shopping cart: @res </b></span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<form asp-action="submitOrder">
    <h3>Please fill in personal data in order to complete purchase</h3>
    <div class="form-check-inline">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" name="firstName" class="form-control" id="firstName" required>
    </div>
    <div class="form-check-inline">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" name="lastName" class="form-control" id="lastName" required>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="billingAdress" class="form-label">Billing Adress</label>
        <input type="text" name="billingAdress" class="form-control" id="billingAdress" required>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="billingZip" class="form-label">Billing Zip</label>
        <input type="text" name="billingZip" class="form-control" id="billingZip" required>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="deliveryAdress" class="form-label">Delivery Adress</label>
        <input type="text" name="deliveryAdress" class="form-control" id="deliveryAdress" required>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="deliveryZip" class="form-label">Delivery Zip</label>
        <input type="text" name="deliveryZip" class="form-control" id="deliveryZip" required>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3" style="width:34%">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="phoneHelp">
        <div id="phoneHelp" class="form-text">Phone number is optional.</div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="confirmPurchase">
        <label class="form-check-label" for="confirmPurchse">Confirm purchase</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@*string title = "";
    int same = 1;
    if(title == @item.Title)
    {
        same = same + 1;
    }
    <p>@item.Title: @item.Price Kr(SEK)</p>*@


@*@model Movie_Store.Models.ViewModells.CartVM


@foreach(var item in @Model.MovieIds){
    <p>@item.ToString()</p>
   // <p>@item.Price</p>
}*@